logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

deploy/aws/modules/lambda/*
!deploy/aws/modules/lambda/*.tf

tf_generated/
vendor/
*.DS_Store
.test_coverage
.terraform
.backup
terraform.tfstate.d/
*.tfplan
*.tfstate
*tfstate.backup
*.env

local/
auth.json

node_modules/
dist/
dist-ssr
*.local

# Editor directories and files
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Netlify folder
.netlify
build-functions

storage/
.venv/